# Borrower Reliability Investigation

Project aims to investigate how a client's marital status and the number of children affects their timely loan repayment, with the goal of developing a credit scoring model.

**Project status:** ✅сompleted, reviewed.

**Stack:** `python`, `pandas`.

**Skills:**
* data preprocessing
* pivot tables

**Project Features:**
* The data presented significant noise, distortions, missing values and duplicates (both explicit and implicit) — necessity data preprocessing has been done.
* The data was redundant, requiring the creation of reference tables — education level and family status.
* During the study, the income level quantitative variable required categorization and the grouping of credit purpose categories.
* To answer research questions, pivot tables were used.

**Applying Project Results:**
* Development of a credit scoring model.

**Keywords:** `data preprocessing`, `duplicates`, `missing values`, `categorization`, `decomposition`, `pivot table`.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Project-Overview" data-toc-modified-id="Project-Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Project Overview</a></span><ul class="toc-item"><li><span><a href="#Formulation-of-the-problem" data-toc-modified-id="Formulation-of-the-problem-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Formulation of the problem</a></span></li><li><span><a href="#Project-Summary" data-toc-modified-id="Project-Summary-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Project Summary</a></span></li><li><span><a href="#Project-Outline" data-toc-modified-id="Project-Outline-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Project Outline</a></span></li></ul></li><li><span><a href="#Part-1" data-toc-modified-id="Part-1-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Part 1</a></span><ul class="toc-item"><li><span><a href="#Step-1.-Opening-the-Table-and-Reviewing-General-Data-Information" data-toc-modified-id="Step-1.-Opening-the-Table-and-Reviewing-General-Data-Information-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Step 1. Opening the Table and Reviewing General Data Information</a></span><ul class="toc-item"><li><span><a href="#Task-1.-Import-the-pandas-library.-Read-the-data-from-the-.csv-file-into-a-dataframe-and-save-it-in-the-'data'-variable" data-toc-modified-id="Task-1.-Import-the-pandas-library.-Read-the-data-from-the-.csv-file-into-a-dataframe-and-save-it-in-the-'data'-variable-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Task 1. Import the pandas library. Read the data from the .csv file into a dataframe and save it in the <code>'data'</code> variable</a></span></li><li><span><a href="#Task-2.-Display-the-first-20-rows-of-the-'data'-dataframe" data-toc-modified-id="Task-2.-Display-the-first-20-rows-of-the-'data'-dataframe-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Task 2. Display the first 20 rows of the <code>'data'</code> dataframe</a></span></li><li><span><a href="#Task-3.-Display-the-basic-information-about-the-dataframe-using-the-info()-method" data-toc-modified-id="Task-3.-Display-the-basic-information-about-the-dataframe-using-the-info()-method-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Task 3. Display the basic information about the dataframe using the <code>info()</code> method</a></span></li></ul></li><li><span><a href="#Step-2.-Data-Preprocessing" data-toc-modified-id="Step-2.-Data-Preprocessing-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Step 2. Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Task-4.-Display-the-number-of-missing-values-for-each-column-using-a-combination-of-two-methods" data-toc-modified-id="Task-4.-Display-the-number-of-missing-values-for-each-column-using-a-combination-of-two-methods-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Task 4. Display the number of missing values for each column using a combination of two methods</a></span></li><li><span><a href="#Task-5.-Filling-missing-values-in-the-total_income-column-with-median-values" data-toc-modified-id="Task-5.-Filling-missing-values-in-the-total_income-column-with-median-values-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Task 5. Filling missing values in the <code>total_income</code> column with median values</a></span></li><li><span><a href="#Task-6.-Handling-anomalies-in-the-days_employed-column" data-toc-modified-id="Task-6.-Handling-anomalies-in-the-days_employed-column-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Task 6. Handling anomalies in the <code>days_employed</code> column</a></span></li><li><span><a href="#Task-7.-For-each-income-type,-display-the-median-value-of-days-employed-in-the-days_employed-column" data-toc-modified-id="Task-7.-For-each-income-type,-display-the-median-value-of-days-employed-in-the-days_employed-column-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Task 7. For each income type, display the median value of days employed in the <code>days_employed</code> column</a></span></li><li><span><a href="#Task-8.-Display-the-list-of-unique-values-in-the-children-column" data-toc-modified-id="Task-8.-Display-the-list-of-unique-values-in-the-children-column-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Task 8. Display the list of unique values in the <code>children</code> column</a></span></li><li><span><a href="#Task-9.-Handling-anomalies-in-the-children-column" data-toc-modified-id="Task-9.-Handling-anomalies-in-the-children-column-2.2.6"><span class="toc-item-num">2.2.6&nbsp;&nbsp;</span>Task 9. Handling anomalies in the <code>children</code> column</a></span></li><li><span><a href="#Task-10.-Display-the-list-of-unique-values-in-the-fixed-children-column" data-toc-modified-id="Task-10.-Display-the-list-of-unique-values-in-the-fixed-children-column-2.2.7"><span class="toc-item-num">2.2.7&nbsp;&nbsp;</span>Task 10. Display the list of unique values in the fixed <code>children</code> column</a></span></li><li><span><a href="#Task-11.-Fill-in-the-missing-values-in-the-days_employed-column-with-median-values-for-each-income_type-category" data-toc-modified-id="Task-11.-Fill-in-the-missing-values-in-the-days_employed-column-with-median-values-for-each-income_type-category-2.2.8"><span class="toc-item-num">2.2.8&nbsp;&nbsp;</span>Task 11. Fill in the missing values in the <code>days_employed</code> column with median values for each <code>income_type</code> category</a></span></li><li><span><a href="#Task-12.-Ensure-that-all-missing-values-are-filled" data-toc-modified-id="Task-12.-Ensure-that-all-missing-values-are-filled-2.2.9"><span class="toc-item-num">2.2.9&nbsp;&nbsp;</span>Task 12. Ensure that all missing values are filled</a></span></li><li><span><a href="#Task-13.-Convert-the-data-type-in-the-total_income-column-from-floating-point-to-integer-using-the-astype()-method" data-toc-modified-id="Task-13.-Convert-the-data-type-in-the-total_income-column-from-floating-point-to-integer-using-the-astype()-method-2.2.10"><span class="toc-item-num">2.2.10&nbsp;&nbsp;</span>Task 13. Convert the data type in the <code>total_income</code> column from floating-point to integer using the <code>astype()</code> method</a></span></li><li><span><a href="#Task-14.-Process-implicit-duplicates-in-the-education-column" data-toc-modified-id="Task-14.-Process-implicit-duplicates-in-the-education-column-2.2.11"><span class="toc-item-num">2.2.11&nbsp;&nbsp;</span>Task 14. Process implicit duplicates in the <code>education</code> column</a></span></li><li><span><a href="#Task-15.-Display-the-number-of-duplicate-rows-in-the-data.-If-such-rows-are-present,-remove-them." data-toc-modified-id="Task-15.-Display-the-number-of-duplicate-rows-in-the-data.-If-such-rows-are-present,-remove-them.-2.2.12"><span class="toc-item-num">2.2.12&nbsp;&nbsp;</span>Task 15. Display the number of duplicate rows in the data. If such rows are present, remove them.</a></span></li><li><span><a href="#Task-16.-Categorization-of-data-by-the-total_income-column" data-toc-modified-id="Task-16.-Categorization-of-data-by-the-total_income-column-2.2.13"><span class="toc-item-num">2.2.13&nbsp;&nbsp;</span>Task 16. Categorization of data by the <code>total_income</code> column</a></span></li><li><span><a href="#Task-17.-Display-the-list-of-unique-loan-purposes-from-the-purpose-column" data-toc-modified-id="Task-17.-Display-the-list-of-unique-loan-purposes-from-the-purpose-column-2.2.14"><span class="toc-item-num">2.2.14&nbsp;&nbsp;</span>Task 17. Display the list of unique loan purposes from the <code>purpose</code> column</a></span></li><li><span><a href="#Task-18.-Categorization-of-data-by-the-purpose-column" data-toc-modified-id="Task-18.-Categorization-of-data-by-the-purpose-column-2.2.15"><span class="toc-item-num">2.2.15&nbsp;&nbsp;</span>Task 18. Categorization of data by the <code>purpose</code> column</a></span></li></ul></li></ul></li><li><span><a href="#Part-2" data-toc-modified-id="Part-2-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Part 2</a></span><ul class="toc-item"><li><span><a href="#Step-3.-Data-Exploration-and-Answering-to-the-Questions" data-toc-modified-id="Step-3.-Data-Exploration-and-Answering-to-the-Questions-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Step 3. Data Exploration and Answering to the Questions</a></span><ul class="toc-item"><li><span><a href="#Task-19.-Is-there-a-correlation-between-the-number-of-children-and-timely-loan-repayment?" data-toc-modified-id="Task-19.-Is-there-a-correlation-between-the-number-of-children-and-timely-loan-repayment?-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Task 19. Is there a correlation between the number of children and timely loan repayment?</a></span></li><li><span><a href="#Task-20.-Is-there-a-correlation-between-marital-status-and-timely-loan-repayment?" data-toc-modified-id="Task-20.-Is-there-a-correlation-between-marital-status-and-timely-loan-repayment?-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Task 20. Is there a correlation between marital status and timely loan repayment?</a></span></li><li><span><a href="#Task-21.-Is-there-a-correlation-between-income-level-and-timely-loan-repayment?" data-toc-modified-id="Task-21.-Is-there-a-correlation-between-income-level-and-timely-loan-repayment?-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Task 21. Is there a correlation between income level and timely loan repayment?</a></span></li><li><span><a href="#Task-22.-How-do-different-loan-purposes-affect-their-repayment-on-time?" data-toc-modified-id="Task-22.-How-do-different-loan-purposes-affect-their-repayment-on-time?-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Task 22. How do different loan purposes affect their repayment on time?</a></span></li><li><span><a href="#Task-23.-Provide-possible-reasons-for-the-presence-of-missing-values-in-the-original-data" data-toc-modified-id="Task-23.-Provide-possible-reasons-for-the-presence-of-missing-values-in-the-original-data-3.1.5"><span class="toc-item-num">3.1.5&nbsp;&nbsp;</span>Task 23. Provide possible reasons for the presence of missing values in the original data</a></span></li><li><span><a href="#Task-24.-Explain-why-filling-missing-values-with-the-median-is-the-best-solution-for-quantitative-variables." data-toc-modified-id="Task-24.-Explain-why-filling-missing-values-with-the-median-is-the-best-solution-for-quantitative-variables.-3.1.6"><span class="toc-item-num">3.1.6&nbsp;&nbsp;</span>Task 24. Explain why filling missing values with the median is the best solution for quantitative variables.</a></span></li></ul></li><li><span><a href="#Step-4.-Conclusion" data-toc-modified-id="Step-4.-Conclusion-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Step 4. Conclusion</a></span></li></ul></li><li><span><a href="#Project-Completion-Checklist" data-toc-modified-id="Project-Completion-Checklist-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Project Completion Checklist</a></span></li></ul></div>

## Project Overview

### Formulation of the problem

The client is the bank's credit department. The objective is to investigate whether a client's marital status and the number of children impact their ability to repay loans on time. The research findings will be used in the development of a credit scoring model, a specialized system that assesses the potential borrower's ability to repay the bank's loans.  

**The goal of this project** was to answer four questions:
1. Is there a correlation between the number of children and timely loan repayment?
1. Is there a correlation between marital status and timely loan repayment?
1. Is there a correlation between income level and timely loan repayment?
1. How do different loan purposes affect their repayment on time?

**The research objectives** were as follows:

1. To identify and handle missing data  
1. To validate and, if necessary, adjust data types to match the stored information
1. To identify and, where possible, rectify data anomalies
1. To categorize the data
1. To remove duplicates
1. To verify the proposed hypotheses

**The data set used for this analysis** provided by the bank as `data.csv` file includes statistics on client's creditworthiness.

Data description:

- `children` — the number of children in the family
- `days_employed` — total employment duration in days
- `dob_years` — client's age in years
- `education` — client's education level
- `education_id` — education level identifier
- `family_status` — family status
- `family_status_id` — family status identifier
- `gender` — client's gender
- `income_type` — type of employment
- `debt` — whether the client had a loan repayment default
- `total_income` — monthly income
- `purpose` — the purpose of obtaining a loan

### Project Summary

During the research, the following activities were carried out:
- Data preprocessing, including finding and filling in missing values, investigating and correcting data anomalies, data type conversion, and removal of explicit and implicit duplicates.
- Through the use of pivot tables, the research questions were investigated, and answers were obtained.

Based on the results of the research, the following conclusions were made:
- The non-return rate (the ratio of clients with defaults to those without debt on the loan) increases as the number of children in the family grows.
- The delinquency rate (the ratio of clients with defaults to those without debt on the loan) is higher among single individuals and those in civil marriages.
- The highest non-return rate is among the group `'E'` with incomes up to 30,000 rubles and the group `'C'` with income levels from 50,001 to 200,000 rubles. This is likely due to the larger number of borrowers in these groups.
- The greatest risk of delinquency on loans is associated with real estate and auto loans.

These findings will contribute to improving the bank's credit scoring model and making more informed lending decisions.

### Project Outline

This project consists of two parts. The [first part](#Part-1) was completed and automatically checked in the Jupyter notebook environment on the Yandex Practicum platform, and the [second part](#Part-2) was reviewed by a reviewer. In total, 24 tasks formulated by the course authors have been completed within the project.

In the [first step](#Step-1.-Opening-the-Table-and-Reviewing-General-Data-Information) of the project (tasks 1-3), the `pandas` library was imported, the raw data was loaded from the `data.csv` file using a `try-except` error handler, and an initial data overview was performed using the  `.head()` and `.info()` methods.

The [second step](#Step-2.-Data-Preprocessing) of the project (tasks 4-18) is the main focus of the presented work and is dedicated to data preprocessing. It was determined that the original data:
- Contained 10.1% missing values of the total data volume in the columns `days_employed` and `total_income`.
- Had implicit duplicates in the `education` and `purpose` columns.
- Had a floating-point format in the `total_income` column instead of an integer format.
- Had 71 duplicate rows (0.3317% of the total data volume).

To process the data, the following methods were used: `fillna()`, `transform()`, `apply()`, `isna().sum()`, `astype()`, `str.lower()`, `duplicated().sum()`, and `drop_duplicates()`.

Furthermore, using the created functions, the original data was categorized based on two criteria: total income and loan purpose.

In the [third step](#Step-3.-Data-Exploration-and-Answers-to-the-Questions) of the project (tasks 19-24), we conducted data analysis using pivot tables to answer our primary research questions. We also made assumptions regarding the reasons behind missing data and provided justification for why filling these gaps with median values is the optimal solution.

The [fourth and final stage](#Step-4.-Conclusion) of the project consists of concluding remarks based on the research findings.

[Top of this section](#Project-Overview) | [Project Contents](#Table-of-Contents)

## Part 1

### Step 1. Opening the Table and Reviewing General Data Information

#### Task 1. Import the pandas library. Read the data from the .csv file into a dataframe and save it in the `'data'` variable

In [1]:
# Import the pandas library as 'pd'
import pandas as pd

# Read the CSV file into the 'data' dataframe using try-except error handler
try:
    # Local address
    data = pd.read_csv('datasets/data.csv')
    
except:
    # Address in the Yandex Practicum Environment
    data = pd.read_csv('…/data.csv')

#### Task 2. Display the first 20 rows of the `'data'` dataframe

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

#### Task 3. Display the basic information about the dataframe using the `info()` method

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

[Top of this section](#Step-1.-Opening-the-Table-and-Reviewing-General-Data-Information) | [Project Contents](#Table-of-Contents)

### Step 2. Data Preprocessing

#### Task 4. Display the number of missing values for each column using a combination of two methods

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [5]:
missing_days_employed = data['days_employed'].isna().mean()
missing_total_income = data['total_income'].isna().mean()

print(f'Proportion of missing values in the `days_employed` column: {missing_days_employed:.1%}')
print(f'Proportion of missing values in the `total_income` column: {missing_total_income:.1%}')

Proportion of missing values in the `days_employed` column: 10.1%
Proportion of missing values in the `total_income` column: 10.1%

#### Task 5. Filling missing values in the `total_income` column with median values

There are missing values in two columns. One of them is `days_employed`. We will process the missing values in this column in the next step. The other column with missing values is `total_income`, which contains income data. Income is strongly influenced by employment type, so we need to fill the missing values in this column with the median income value for each `income_type` category. For example, for a person with the `сотрудник` income type, the missing value in the `total_income` column should be filled with the median income among all records with the same income type.

In [6]:
data['total_income'] = data['total_income'].fillna(
    data.groupby('income_type')['total_income'].transform('median'))

#### Task 6. Handling anomalies in the `days_employed` column

In the data, there may be artifacts (anomalies) — values that do not reflect reality and appeared due to some error. One such artifact is negative values for the number of days employed in the `days_employed` column. For real data, this is normal. Process the values in this column by replacing all negative values with positive ones using the `abs()` method.

In [7]:
data['days_employed'] = data['days_employed'].abs()

#### Task 7. For each income type, display the median value of days employed in the `days_employed` column

Two income types (`безработные` и `пенсионеры`) will have abnormally large values. Fixing such values is difficult, so we leave them as they are.

In [8]:
# Calculate the median value of 'days_employed' for each income type
median_days_employed = data.groupby('income_type')['days_employed'].median()

# Display the median value of 'days_employed' for each income type
median_days_employed

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

#### Task 8. Display the list of unique values in the `children` column

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

#### Task 9. Handling anomalies in the `children` column

There are two anomalous values in the `children` column. Delete the rows in which such anomalous values occur from the `data` dataframe.

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

#### Task 10. Display the list of unique values in the fixed `children` column

Once again, display the list of unique values in the `children` column to ensure that the artifacts have been removed.

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

#### Task 11. Fill in the missing values in the `days_employed` column with median values for each `income_type` category

In [12]:
data['days_employed'] = data['days_employed'].fillna(
    data.groupby('income_type')['total_income'].transform('median'))

#### Task 12. Ensure that all missing values are filled

Check yourself again and display the number of missing values for each column using two methods.

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

#### Task 13. Convert the data type in the `total_income` column from floating-point to integer using the `astype()` method

In [14]:
data['total_income'] = data['total_income'].astype('int')

#### Task 14. Process implicit duplicates in the `education` column

In this column, there are the same values but written differently: using uppercase and lowercase letters:

In [15]:
data['education'].unique()

array(['высшее', 'среднее', 'Среднее', 'СРЕДНЕЕ', 'ВЫСШЕЕ',
       'неоконченное высшее', 'начальное', 'Высшее',
       'НЕОКОНЧЕННОЕ ВЫСШЕЕ', 'Неоконченное высшее', 'НАЧАЛЬНОЕ',
       'Начальное', 'Ученая степень', 'УЧЕНАЯ СТЕПЕНЬ', 'ученая степень'],
      dtype=object)

Convert them to lowercase.

In [16]:
data['education'] = data['education'].str.lower()

# Checking the result
data['education'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

#### Task 15. Display the number of duplicate rows in the data. If such rows are present, remove them.

There is no need to reset the indices after deleting duplicate rows using `reset_index(drop=True)` here.

In [17]:
# Proportion of duplicate rows in the `data` dataframe
duplicated_share = data.duplicated().mean()

print('Number of duplicate rows in the data:', data.duplicated().sum())
print(f'Share of duplicate rows in the data:: {duplicated_share:.4%}')

Number of duplicate rows in the data: 71
Share of duplicate rows in the data:: 0.3317%

In [18]:
data = data.drop_duplicates()

#### Task 16. Categorization of data by the `total_income` column

Based on the ranges specified below, create a `total_income_category` column in the `data` dataframe with categories:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 and above — `'A'`.

</br></br>
For example, a borrower with an income of 25000 should be assigned category `'E'`, and a client with an income of 235000 should be assigned category `'B'`.

In [19]:
# Creating a function for income categorization
def set_income_category(row):
    total_income = row['total_income']
    if total_income <= 30000 and total_income >= 0:
        return 'E'
    if total_income <= 50000 and total_income >= 30001:
        return 'D'
    if total_income <= 200000 and total_income >= 50001:
        return 'C'
    if total_income <= 1000000 and total_income >= 200001:
        return 'B'
    if total_income > 1000001:
        return 'A'

In [20]:
# Adding an income category column to the original dataframe
data['total_income_category'] = data.apply(set_income_category, axis=1)

#### Task 17. Display the list of unique loan purposes from the `purpose` column

In [21]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

#### Task 18. Categorization of data by the `purpose` column

Create a function that will form a new `purpose_category` column  based on the data from the `purpose` column with the following categories:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

</br></br>
For example, if the `purpose` column contains the substring `'на покупку автомобиля'`, the `purpose_category` column should contain the string `'операции с автомобилем'`. Use your own function named `categorize_purpose()` and the `apply()` method. Examine the data in the `purpose` column to determine which substrings will help you correctly determine the category.

After [studying the unique values in the `purpose` column](#Task-17.-Display-the-list-of-unique-loan-purposes-from-the-purpose-column), let's group them into four main categories:

<table style = "width: 100%; margin-bottom: 20px; border: 1px solid #dddddd; border-collapse: collapse">
    <thead style = "background: #efefef; border: 1px solid #dddddd">
        <tr>
            <th style = "width: 25%; text-align: center">Category</th>
            <th style = "text-align: center">Values in the `purpose` column</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td style = "text-align: left">операции с автомобилем</td>
            <td style = "text-align: left">'приобретение автомобиля', 'на покупку подержанного автомобиля', 'на покупку своего автомобиля', 'автомобили', 'сделка с подержанным автомобилем', 'автомобиль', 'свой автомобиль', 'сделка с автомобилем', 'на покупку автомобиля'</td>
        </tr>
        <tr>
            <td style = "text-align: left">операции с недвижимостью</td>
            <td style = "text-align: left">'покупка жилья', 'операции с жильем', 'покупка жилья для семьи', 'покупка недвижимости', 'покупка коммерческой недвижимости', 'покупка жилой недвижимости', 'строительство собственной недвижимости', 'недвижимость', 'строительство недвижимости', 'операции с коммерческой недвижимостью', 'строительство жилой недвижимости', 'жилье', 'операции со своей недвижимостью', 'покупка своего жилья', 'операции с недвижимостью', 'покупка жилья для сдачи', 'ремонт жилью'</td>
    </tr>
    <tr>
      <td style = "text-align: left">проведение свадьбы</td>
      <td style = "text-align: left">'сыграть свадьбу', 'на проведение свадьбы', 'свадьба'</td>
    </tr>    
    <tr>
      <td style = "text-align: left">получение образования</td>
      <td style = "text-align: left">'дополнительное образование', 'образование', 'заняться образованием', 'получение образования', 'получение дополнительного образования', 'получение высшего образования', 'профильное образование', 'высшее образование', 'заняться высшим образованием'</td>
    </tr>
    </tbody>    
</table>

Based on these sets, we will create a list of keywords that we will use with a function to divide the original dataframe into categories of loan purposes:


<table style = "width: 100%; margin-bottom: 20px; border: 1px solid #dddddd; border-collapse: collapse">
    <thead style = "background: #efefef; border: 1px solid #dddddd">
        <tr>
            <th style = "width: 25%; text-align: center">Category</th>
            <th style = "text-align: center">Substring</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td style = "text-align: left">операции с автомобилем</td>
            <td style = "text-align: left">"автомобил"</td>
        </tr>
        <tr>
            <td style = "text-align: left">операции с недвижимостью</td>
            <td style = "text-align: left">"жил" и "недвиж"</td>
    </tr>
    <tr>
      <td style = "text-align: left">проведение свадьбы</td>
      <td style = "text-align: left">"свадьб"</td>
    </tr>    
    <tr>
      <td style = "text-align: left">получение образования</td>
      <td style = "text-align: left">"образ"</td>
    </tr>
    </tbody>    
</table>

In [22]:
# Creating a function for loan purpose categorization
def purpose_category(list):
    if "автомобил" in list:
        return "операции с автомобилем"
    if "жил" in list or "недвиж" in list:
        return "операции с недвижимостью"
    if "свадьб" in list:
        return "проведение свадьбы"
    if "образ" in list:
        return "получение образования"

In [23]:
# Adding an purpose category column to the original dataframe
data['purpose_category'] = data['purpose'].apply(purpose_category)

[Top of this section](#Step-2.-Data-Preprocessing) | [Project Contents](#Table-of-Contents)

## Part 2

### Step 3. Data Exploration and Answering to the Questions

In the `debt` column, information about whether a client had debt on loans is stored as a binary feature:

- `'0'` - no delinquencies;
- `'1'` - there were delinquencies.


For the purposes of our project, we will analyze the ratio of the number of clients with loan delinquencies to the number of clients without delinquencies.


#### Task 19. Is there a correlation between the number of children and timely loan repayment?

In [24]:
# Creating a pivot table using 'debt' as index, 'children' as columns,
# and counting the occurrences of 'family_status_id' as values.
pivot_1 = data.pivot_table(index='debt',
                           columns='children',
                           values='family_status_id',
                           aggfunc='count')

# Adding the string 'ratio' that calculates the non-return rate,
# multiplied by 100 for percentage, and rounded to 2 decimal places.
pivot_1.loc['ratio'] = ((pivot_1.loc[1] / pivot_1.loc[0]) * 100).round(2)

# Displaying the pivot table
pivot_1

children         0        1        2       3      4    5
debt
0         13028.00  4364.00  1858.00  303.00  37.00  9.0
1          1063.00   444.00   194.00   27.00   4.00  NaN
ratio         8.16    10.17    10.44    8.91  10.81  NaN

**Preliminary conclusion**

It can be concluded that there is a correlation between the number of children and the number of overdue loans. Increasing the number of children in the family leads to a higher non-return rate (the ratio of clients with defaults to those without debt on the loan).

#### Task 20. Is there a correlation between marital status and timely loan repayment?

In [25]:
# Creating a pivot table using 'debt' as index, 'family_status_id' as columns, 
# and counting the occurrences of 'dob_years' as values.
pivot_2 = data.pivot_table(index='debt',
                           columns='family_status',
                           values='dob_years',
                           aggfunc='count')

# Adding the string 'ratio' that calculates the non-return rate,
# multiplied by 100 for percentage, and rounded to 2 decimal places.
pivot_2.loc['ratio'] = ((pivot_2.loc[1] / pivot_2.loc[0]) * 100).round(2)

# Displaying the pivot table
pivot_2

family_status,Не женат / не замужем,в разводе,вдовец / вдова,гражданский брак,женат / замужем
debt,,,,,
0,2523.00,1105.0,888.00,3749.00,11334.00
1,273.00,84.0,63.00,385.00,927.00
ratio,10.82,7.6,7.09,10.27,8.18

**Preliminary conclusion**

The non-return rate is higher among single individuals and those in civil marriages.

#### Task 21. Is there a correlation between income level and timely loan repayment?

In [26]:
# Creating a pivot table using 'debt' as index, 'total_income_category' as columns, 
# and counting the occurrences of 'dob_years' as values.
pivot_3 = data.pivot_table(index='debt',
                           columns='total_income_category',
                           values='dob_years',
                           aggfunc='count')

# Adding a new strip 'ratio' that calculates the non-return rate,
# multiplied by 100 for percentage, and rounded to 2 decimal places.
pivot_3.loc['ratio'] = ((pivot_3.loc[1] / pivot_3.loc[0]) * 100).round(2)

# Transposing the pivot table to have 'children' as columns and 'debt' as index.
pivot_3

total_income_category     A       B         C      D     E
debt
0                      23.0  4660.0  14568.00  328.0  20.0
1                       2.0   354.0   1353.00   21.0   2.0
ratio                   8.7     7.6      9.29    6.4  10.0

**Preliminary conclusion**

The highest non-return rate is among the group `E` with incomes up to 30,000 rubles and the group `C` with income levels from 50,001 to 200,000 rubles.

#### Task 22. How do different loan purposes affect their repayment on time?

In [27]:
# Creating a pivot table using 'debt' as index, 'purpose_category' as columns, 
# and counting the occurrences of 'dob_years' as values.
pivot_4 = data.pivot_table(index='debt',
                           columns='purpose_category',
                           values='dob_years',
                           aggfunc='count')

# Adding a new strip 'ratio' that calculates the non-return rate,
# multiplied by 100 for percentage, and rounded to 2 decimal places.
pivot_4.loc['ratio'] = ((pivot_4.loc[1] / pivot_4.loc[0]) * 100).round(2)

# Displaying the pivot table
pivot_4

purpose_category,операции с автомобилем,операции с недвижимостью,получение образования,проведение свадьбы
debt,,,,
0,3879.00,9971.00,3619.0,2130.00
1,400.00,780.00,369.0,183.00
ratio,10.31,7.82,10.2,8.59

**Preliminary conclusion**

The highest risk of default on loans is for real estate operations and auto loans.

#### Task 23. Provide possible reasons for the presence of missing values in the original data

Based on the [dataset review](#Task-4.-Display-the-number-of-missing-values-for-each-column-using-a-combination-of-two-methods), missing values are detected in two columns: `days_employed` and `total_income`. There is no missing data in other columns. Both columns contain quantitative variables (the number of days of employment and the amount of monthly income). The most likely reason for their occurrence is the insufficient information during data entry (for example, it makes sense to have missing values if the monthly income is calculated based on the number of days of employment).

#### Task 24. Explain why filling missing values with the median is the best solution for quantitative variables.

Filling in missing values with the median is one of the common methods for handling missing data in quantitative variables, and it can be a good solution for several reasons:

* **Preservation of Statistical Characteristics:** The median is a measure of central tendency that is not sensitive to outliers, unlike, for example, the mean. Filling in missing values with the median allows us to preserve the overall data structure and prevent distortion of statistical characteristics of the distribution.


* **Avoidance of Distortions:** Filling zero values with the median helps avoid distorting the data distribution. If we were to fill zero values, for instance, with the mean, it could significantly impact the mean and make it less informative.


* **Simplicity and Interpretability:** Filling in missing values with the median is a simple and intuitive method that doesn't require complex calculations or additional data. This simplifies result interpretation.


* **Robustness to Outliers:** The median is robust to outliers. This means that even if there are a few extreme values (outliers) in the data, the median remains stable. This is useful when dealing with data that contains outliers, which can distort the mean.


* **Reduced Information Loss:** Filling in missing values with the median allows us to retain existing information. When deleting rows with missing data, you may lose other important characteristics that can be valuable for analysis.

[Top of this section](#Step-3.-Data-Exploration-and-Answers-to-the-Questions) | [Project Contents](#Table-of-Contents)

### Step 4. Conclusion

In this project, we looked closely at the data provided by the bank's credit department to understand how certain factors affect loan repayments. We focused on family size, marital status, income, and loan purpose.

Our analysis revealed several key insights:

* **Family Size Matters:** Families with more children tend to have a harder time repaying loans. As the number of kids increases, so does the chance of missing payments.


* **Marital Status Counts:** People who are not married or are in civil partnerships are more likely to have trouble repaying loans compared to married individuals.


* **Income Levels:** Clients with lower incomes (up to 30,000 rubles) and moderate incomes (50,001 to 200,000 rubles) are at a higher risk of not repaying loans. This might be because more people fall into these income categories.


* **Loan Purpose:** Loans for real estate and cars are riskier. Borrowers taking loans for these reasons tend to struggle more with repayments.


These findings can help the bank make better lending decisions. By considering family size, marital status, income, and loan purpose, the bank can improve its credit scoring system and identify trustworthy borrowers.

In a nutshell, this project doesn't just answer questions about loan repayment; it also sets the stage for smarter lending. By using data to make decisions, the bank can lower risks and serve its customers better.

[Top of this section](#Step-4.-Conclusion) | [Project Contents](#Table-of-Contents)

## Project Completion Checklist

**Step 1. Opening the Table and Reviewing General Data Information**
- [x] Task 1. Import the pandas library. Read the data from the .csv file into a dataframe and save it in the `'data'` variable
- [x] Task 2. Display the first 20 rows of the `'data'` dataframe
- [x] Task 3. Display the basic information about the dataframe using the `info()` method

</br></br>
**Step 2. Data Preprocessing**
- [x] Task 4. Display the number of missing values for each column using a combination of two methods
- [x] Task 5. Filling missing values in the `total_income` column with median values
- [x] Task 6. Handling anomalies in the `days_employed` column
- [x] Task 7. For each income type, display the median value of days employed in the `days_employed` column
- [x] Task 8. Display the list of unique values in the `children` column
- [x] Task 9. Handling anomalies in the `children` column
- [x] Task 10. Display the list of unique values in the fixed `children` column
- [x] Task 11. Fill in the missing values in the `days_employed` column with median values for each `income_type` category
- [x] Task 12. Ensure that all missing values are filled
- [x] Task 13. Convert the data type in the `total_income` column from floating-point to integer using the `astype()` method
- [x] Task 14. Process implicit duplicates in the `education` column
- [x] Task 15. Display the number of duplicate rows in the data. If such rows are present, remove them.
- [x] Task 16. Categorization of data by the `total_income` column
- [x] Task 17. Display the list of unique loan purposes from the `purpose` column
- [x] Task 18. Categorization of data by the `purpose` column

</br></br>
**Step 3. Data Exploration and Answering to the Questions**
- [x] Task 19. Is there a correlation between the number of children and timely loan repayment?
- [x] Task 20. Is there a correlation between marital status and timely loan repayment?
- [x] Task 21. Is there a correlation between income level and timely loan repayment?
- [x] Task 22. How do different loan purposes affect their repayment on time?
- [x] Task 23. Provide possible reasons for the presence of missing values in the original data
- [x] Task 24. Explain why filling missing values with the median is the best solution for quantitative variables.

</br></br>
**Step 4. Conclusion**
- [x] Overall conclusion drawn for the entire study

</br></br>    
[Project Contents](#Table-of-Contents)